{% extends 'base/base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}
<section class="loginform">
    <div class="card mx-auto w-25">
        <h3 class="text-center mb-4">
            Login
        </h3>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{form.non_field_errors }}
            </div>
            {% endif %}

            {% for field in form %}
            {% include 'base/includes/basic_form_field.html' %}
            {% endfor %}
            <button type="submit" class="button">Login</button>
            <p class="text-center mt-3 mb-0">
                Don't have an account ?
                <a href="{% url 'signup' %}">Register</a>
            </p>
        </form>
    </div>
</section>
{% endblock %}