<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <a href="{% url 'product_details' product.pk %}">
        <div class="card">
            {% if product.thumbnail %}
            <img src="{{product.thumbnail.url}}" class="card-img-top" alt="Product">
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                {% else %}
                <div>
                    No Image
                </div>
                {% endif %}

                <p class="card-text">{{product.desc}}</p>
                <h4 class="card-price">&#8377; {{product.price}}</h4>
                {% if product.stock > 0 %}
                <a href="" class="btn btns w-100">Add to Cart</a>
                {% else %}
                <a href="" class="btn btnss w-100" disabled>Out of Stock</a>
                {% endif %}
            </div>
        </div>
    </a>
</div>