<div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card product-card" data-product-id="{{product.id}}">
        {% if product.thumbnail %}
        <a href="{% url 'product_details' product.pk %}">
            <img src="{{product.thumbnail.url}}" class="card-img-top" alt="Product">
        </a>
        <div class="card-body">
            <a href="{% url 'product_details' product.pk %}">
                <h5 class="card-title">{{product.title}}</h5>
                {% else %}
                <div>
                    No Image
                </div>
                {% endif %}

                <p class="card-text">{{product.desc}}</p>
                <h4 class="card-price">&#8377; {{product.price}}</h4>
            </a>
            {% if product.stock > 0 %}
            <button class="add-to-cart btn btns w-100 ">Add to Cart</button>
            {% else %}
            <button class="btn btnss w-100" disabled>Out of Stock</button>
            {% endif %}
        </div>
    </div>
</div>